## OS X
.DS_Store
## Codeblocks
*.layout
*.depend
obj
bin
## Visual Studio
build
## Makefile
*.o
/newtonia
/newtonia.exe
/newtonia-arm64
/newtonia-x86_64
/selftest.log
## Glut (binaries)
GL/
## SDL
SDL*
## Gradle
android/.gradle/
android/app/build/
android/build/
## Web build output
web/dist/
.claude/
## Python
__pycache__/
*.pyc
## Make
*.d
## Node
node_modules/
package.json
package-lock.json
## Mac build
Newtonia.app/
netplay-libs/
flavor.stamp
## Xbox/GDK local build trees (cmake -B xbox/build-*)
xbox/build-*/
## Steam local build (make steam)
/newtonia-steam
/sdk/
/steam_appid.txt
/libsteam_api.*
/steamworks_sdk.zip
